body{
    margin: 0;
}

.topbar{
    width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  transition: 0.40s;
  margin-top: -30px;
  z-index: 1;

}

.wfan-logo{
  width: 120px;
  margin-left: 0px;
  transition: 0.40s;
  z-index: 1;
}

.wfan-logo:hover{
  transform: scale(1.1);
}

  /* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
      border-radius: 30px;


}



/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.1);
  color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
}

.parent{
  height: 1900px;
}

.transparent{
  background-color: rgb(10, 171, 171);
  width: 100%;
  height: 400px;
}

.scrollmenu{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
        -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */


}

div.scrollmenu img{
  width: 100%;
  scroll-snap-align: start;
}

div.scrollmenu video{
  width: 100%;
  scroll-snap-align: start;
}

.app-div{
  width: 1100px;
  height: 500px;
  background-color: white;
  margin: auto;
  padding-top: 10px;
  margin-top: 30px;
  border-radius: 10px;
}

.welcome-div{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container{
  display: flex;
  margin: auto;
  width: 560px;
}

.td-1{
  background-color: #ffffff;
  width: 30px;
  height: 30px;
}

.welcome-text{
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 700 ;
}

.details-1{
    font-family: 'Inter', sans-serif;
  font-weight: 400 ;
  font-size: 15px;
  margin-top: -30px;
}

.bar-1{
  width: 90.5%;
  background-color: #000000;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.app-dock{
  width: 415px;
  height: 80px;
  background-color: rgb(58, 58, 60);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-top: 7px;
  margin-top: 0px;
  padding-left:25px ;
}

.app-table{
  justify-content: center;
}

.app-table div{
    width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-right: 5px;
  margin-left: -7px;
  transition: 0.40s;
}

.app-table div:hover{
  transform: scale(1.2);
}

.app-table img{
  width: 65px;
  height: 65px;
  border-radius: 20px;
}

.schedule-div{
  width: 1100px;
  height: 450px;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
}

.table-1{
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.p1{
  color: #000000;
    font-family: 'Inter', sans-serif;
  font-weight: 700 ;
  font-size: 40px;
}

.p2{
  color: #000000;
    font-family: 'Inter', sans-serif;
  font-weight: 400 ;
  width: 300px;

}

.schedule{
  width: 700px;
  float: right;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 50px;
}

.Be-part-of-group-div{
    width: 1100px;
  height: 800px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 50px;
}

.part-of-a-group{
  color: #000000;
  font-size: 46px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.yellow-marker{
  width: 530px;
  height: 70px;
  background-color: rgba(255, 214, 10, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
}

.group{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-left: 23px;
}

.scrollmenu-2{
  overflow-x: auto;
  scroll-snap-type: mandatory;
}

div.scrollmenu-2 {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 30px;
        -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */


}

div.scrollmenu-2 div{
  width: 100%;
  scroll-snap-align: center;
}

.horizontal-snap {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  max-width: 1055px;
  border-radius: 20px;
  overflow-y: hidden;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.horizontal-snap div {
  scroll-snap-align: start;
}

.horizontal-snap div {
  width: 400px;
  height: 100%;
  background-color: rgb(210, 209, 214);
  border-radius: 20px;
  transition: 0.30s;
}

.learn-1{
  color: #000000;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;   
  background-color: rgb(255, 214, 10);
  border-radius: 50px;
  margin-right: 10px;
  width: 100px;
  height: 20px;
  float: right;
  transition: 0.40s;
}

.learn-1:hover {
  background-color: #000000;
  color: #ffffff;
}

.married-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.youth-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.praise-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kkm-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.married-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 30px;
    margin-top: 7px;
      color: #000000;


}

.married-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 15px;
  color: #000000;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.youth-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 30px;
    margin-top: 7px;
      color: #000000;


}

.youth-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 15px;
  color: #000000;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.praise-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 30px;
    margin-top: 7px;
      color: #000000;


}

.praise-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 15px;
  color: #000000;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.kkm-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 30px;
    margin-top: 7px;
      color: #000000;


}

.kkm-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 15px;
  color: #000000;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

a:link{
  text-decoration: none!important;
  
}

.parent-mobile{
  display: none;
}

.parent-2{
  display: none;
}









/*portrait mode*/
@media  (max-width: 1313px) {

  .topbar{
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  transition: 0.40s;
  margin-top: -30px;
  z-index: 1;

}

.wfan-logo{
  width: 150px;
  margin-left: 0px;
  transition: 0.40s;
  z-index: 1;
}

.wfan-logo:hover{
  transform: scale(1.1);
}

  /* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 37px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255);
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;

}



/* Change the color of links on hover */
.topnav a:hover {
  transform: scale(1.3);
}

/* Add a color to the active/current link */
.topnav a.active {
}

.app-div{
  width: 800px;
  height: 420px;
  background-color: white;
  margin: auto;
  padding-top: 10px;
  margin-top: 30px;
  border-radius: 10px;
}

.welcome-div{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.container{
  display: flex;
  margin: auto;
  width: 400px;
}

.yt-vid{
  width: 400px;
  height: 230px;
}

.td-1{
  background-color: #ffffff;
  width: 30px;
  height: 30px;
}

.welcome-text{
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  margin-top: 0px;
  margin-bottom: 60px

}

.details-1{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 13px;
  margin-top: -30px;
}

.bar-1{
  width: 90.5%;
  background-color: #000000;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.app-dock{
  width: 390px;
  height: 80px;
  background-color: rgb(58, 58, 60);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-top: 10px;
  margin-top: 10px;
  padding-left:25px ;
}


.app-table div{
    width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: -7px;
  transition: 0.40s;
}

.app-table div:hover{
  transform: scale(1.2);
}

.app-table img{
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.schedule-div{
  width: 800px;
  height: 270px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
}

.table-1{
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.p1{
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  margin-top: 5px;
}

.p2{
  color: #000000;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  width: 280px;
  font-size: 13px;
}

.schedule{
  width: 380px;
  float: right;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 60px;
}

.Be-part-of-group-div{
    width: 800px;
  height: 650px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 50px;
}

.part-of-a-group{
  color: #000000;
  font-size: 36px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.yellow-marker{
  width: 370px;
  height: 40px;
  background-color: rgba(231, 255, 84, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
}

.group{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin-left: 28px;
}

.scrollmenu-2{
  overflow-x: auto;
  scroll-snap-type: proximity;
}

div.scrollmenu-2 {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 30px;
        -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */


}

div.scrollmenu-2 div{
  width: 100%;
  scroll-snap-align: center;
}

.horizontal-snap {
  margin: 0 auto;
  display: grid;
    height: 390px;

  grid-auto-flow: column;
  gap: 1rem;
  max-width: 694px;
  border-radius: 20px;
  overflow-y: hidden;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.horizontal-snap > a {
  scroll-snap-align: start;
}

.horizontal-snap div {
  width: 330px;
  height: 380px;
  background-color: rgb(210, 209, 214);
  border-radius: 20px;
  transition: 0.30s;
}


.married-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.youth-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.praise-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kkm-img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.married-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 25px;
    margin-top: 7px;
      color: #000000;


}

.married-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 13px;
  color: #000000;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.youth-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 25px;
    margin-top: 7px;
      color: #000000;


}

.youth-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 13px;
  color: #000000;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.praise-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 25px;
    margin-top: 7px;
      color: #000000;


}

.praise-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 13px;
  color: #000000;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.kkm-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 25px;
    margin-top: 7px;
      color: #000000;


}

.kkm-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 13px;
  color: #000000;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.learn-1{
  color: #000000;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;   
  background-color: rgb(255, 214, 10);
  border-radius: 50px;
  margin-right: 10px;
  width: 100px;
  height: 20px;
  float: right;
  transition: 0.40s;
}

.learn-1:hover {
  background-color: #000000;
  color: #ffffff;
}

a:link{
  text-decoration: none!important;
}

.parent-mobile{
  display: none;
}

.parent-2{
  display: none;
}

}











/*mobile*/
@media only screen and (max-width:791px) {

.parent{
  display: none;
}

.wfan-logo{
  display: none;
}

.parent-2{
  width: 100%;
  height: 1000px;
  background-color: rgb(210, 209, 214);
}

.topbar{
  display: none;
}

.topbar-mobile{
    width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  transition: 0.40s;
  margin-top: -60px;
  z-index: 1;
}

.wfan-logo-mobile{
  display: flex;
  width: 120px;
  margin: auto;
  transition: 0.40s;
  z-index: 1;
}

.wfan-logo:hover{
  transform: scale(1.1);
}

/* Style the links inside the navigation bar */
.topnav a {
  display: none;
}
.topnav {
  display: none;
}

  /* Add a black background color to the top navigation */
.topnav-mobile {
  position: fixed;
  display: flex;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav-mobile a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 8px 4%;
  text-decoration: none;
  height: 12px;
  font-size: 10px;
  margin-top: -40px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
    border-radius: 5px;


}

/* Change the color of links on hover */
.topnav-mobile a:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.spacer{
  height: 80px;
}

.scrollmenu-mobile{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

div.scrollmenu-mobile {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
        -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */


}

div.scrollmenu-mobile img{
  width: 100%;
  scroll-snap-align: start;
}

div.scrollmenu-mobile video{
  width: 100%;
  scroll-snap-align: start;
}

}
