
html{
  scroll-behavior: smooth;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body{
    margin: 0 auto;
    background-image: linear-gradient(#191919 2%, #000000);
}

.navbar{
    height: 70px;
    width: 100%;
    background-color: rgb(25, 25, 25);
}

.wfan-logo{
    margin-top: 15px;
    width: 50px;
    margin-left: 15px;
    transition: 0.40s;
}

.wfan-logo:hover{
  transform: rotate(360deg) scale(1.3);
}

.topnav {
  display: flex;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
      border-radius: 30px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.1);
  color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: underline;
  color: #ffffff;
}

.scrollmenu{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  width: 90%;
  height: 705;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
        -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    overflow-y: hidden;
}

div.scrollmenu img{
  width: 100%;
  scroll-snap-align: start;
    border-radius: 10px;

}

div.scrollmenu video{
  width: 100%;
  scroll-snap-align: start;
    border-radius: 10px;

}

.table-1{
margin: auto;
margin-top: 100px;
width: 70%;
}

.welcome-img{
  border-radius: 10px;
  width: 89%;
}

.spacer{
  height: 0px;
  width: 0px;
}

.welcome-1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    margin-top: 0px;
}

.welcome-2{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 20px;
    margin-top: -10px;
    width: auto;
}

.daily-sched{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    color: #ffffff;
    border-radius: 90px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 50px;
    border: 2px solid rgb(245, 199, 44);
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}

.sched-container{
    width: 1100px;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.schedule{
    width: 1100px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    transition: 0.40s;
}

.schedule:hover{
  transform: scale(1.1);
}

.black-background{
    width: 100%;
    height: auto;
    padding-top: 40px;
    margin-top: 100px;
}

.ministries{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    text-align: center;
    width: 400px;
    font-weight: 700;
    font-size: 50px;
    margin: auto;
}

.bar2{
    width: 90%;
    height: 2px;
    background-color: rgb(245, 199, 44);
    margin: auto;
    margin-top: 30px;
        border-radius: 30px;

}

.horizontal-snap {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  max-width: 80%;
  margin-top: 50px;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.horizontal-snap div {
  scroll-snap-align: start;
}

.horizontal-snap div {
  width: 400px;
  height: 450px;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  transition: 0.30s;
}

.learn-1{
  color: #000000;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;   
  background-color: rgb(255, 214, 10);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100px;
  height: 20px;
  transition: 0.40s;
}

.learn-1:hover {
  background-color: #000000;
  color: #ffffff;
}

.married-img{
  width: 100%;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.youth-img{
  width: 100%;
    height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.praise-img{
  width: 100%;
    height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kkm-img{
  width: 100%;
    height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.married-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 7px;
      color: #ffffff;


}

.married-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 15px;
  color: #8A8A8A;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.youth-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 30px;
    margin-top: 7px;
    font-weight: 700;
  color: #ffffff;


}

.youth-text2{
  width: 90%;
  text-align: center;
    color: #8A8A8A;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 15px;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.praise-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 30px;
    margin-top: 7px;
  color: #ffffff;
  font-weight: 700;


}

.praise-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 15px;
  color: #8A8A8A;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kkm-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 30px;
    margin-top: 7px;
    font-weight: 700;
  color: #ffffff;


}

.kkm-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 15px;
  color: #8A8A8A;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
  margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
}

.td1-spacer{
width: 80px;
height: auto;
}

.mobile-parent{
  display: none;
}

.parent-tablet{
  display: none;
}

.parent-mobile{
  display: none;
}





/*portrait mode*/
@media  (max-width: 1313px) {
.parent-desktop{
    display: none;
}

.parent-tablet{
  display: block;
}

.container-tablet{
    width: 97%;
    height: 30%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    border-radius: 10px;
    gap: 30px;
}

.box1{
    min-width: 100%;
    scroll-snap-align: start;
}
  .box2{
    min-width: 100%;
        scroll-snap-align: start;

}
  .box3{
    min-width: 100%;
        scroll-snap-align: start;

}

  .table-1-tablet{
  margin: auto;
  margin-top: 50px;
  width: 90%;
}

.welcome-img{
  border-radius: 10px;
  width: 97%;
}

.spacer-tab{
  height: 50px;
  width: 10px;
}

.welcome-1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
}

.welcome-2{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-size: 13px;
    margin-top: -10px;
}

.bar1{
    height: 2px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;  
    margin-right: auto;  
    margin-top: 100px;
    border-radius: 20px;
}

.daily-sched{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    color: #ffffff;
    border-radius: 90px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;    font-size: 50px;
    border: 2px solid rgb(245, 199, 44);
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}

.sched-container{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.schedule{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    transition: 0.40s;
}

.schedule:hover{
  transform: scale(1);
}

.blackbackground-tablet{
  width: 100%;
  height: auto;
  padding-top: 70px;
  margin-top: 50px;
  
}

.ministries{
  font-size: 30px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700

}

.horizontal-snap {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  max-width: 85%;
  margin-top: 50px;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.horizontal-snap div {
  scroll-snap-align: start;
}

.horizontal-snap div {
  width: 300px;
  height: 350px;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  transition: 0.30s;
}

.learn-1{
  color: #000000;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;   
  background-color: rgb(255, 214, 10);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80px;
  height: 15px;
  transition: 0.40s;
}

.learn-1:hover {
  background-color: #000000;
  color: #ffffff;
}

.married-img{
  width: 100%;
      height: 170px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.youth-img{
  width: 100%;
        height: 170px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.praise-img{
  width: 100%;
        height: 170px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kkm-img{
  width: 100%;
        height: 170px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.married-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 20px;
    margin-top: 7px;
      color: #ffffff;


}

.married-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 12px;
  color: #d5d5d5;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.youth-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 20px;
    margin-top: 7px;
  color: #ffffff;


}

.youth-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 12px;
  color: #d5d5d5;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.praise-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 20px;
    margin-top: 7px;
  color: #ffffff;


}

.praise-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 12px;
  color: #d5d5d5;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kkm-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 20px;
    margin-top: 7px;
  color: #ffffff;


}

.kkm-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 12px;
  color: #d5d5d5;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.bar3{
  margin-top: 80px;
}

.bottom-div-container{
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
  margin-top: 50px;
}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
}

.td1-spacer{
width: 20px;
height: auto;
}


.parent-mobile{
  display: none;
}

}







@media only screen and (max-width:750px) {
  .parent-desktop{
    display: none;
  }

  .parent-tablet{
    display: none;
  }

  .parent-mobile{
    display: block;
  }

  .navbar{
    display: flex;
  }

  .wfan-logo{
    margin: auto;
    margin-top: 15px;
  }

  .topnav-mobile {
  display: flex;
  width: 330px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
  background-color: #000000;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav-mobile a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
    border-radius: 5px;


}

/* Change the color of links on hover */
.topnav-mobile a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/* Add a color to the active/current link */
.topnav-mobile a.active {
  text-decoration: underline;
}

.scrollmenu-mobile {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

div.scrollmenu-mobile {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  height: 705;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
        -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    overflow-y: hidden;
    border-radius: 0px;
}

div.scrollmenu-mobile img{
  width: 100%;
  scroll-snap-align: start;
    border-radius: 0px;

}

div.scrollmenu-mobile video{
  width: 100%;
  scroll-snap-align: start;
    border-radius: 0px;

}

.welcome-img-mobile {
  width: 100%;
  border-radius: -10px;
}

.welcome-container-mobile{
  margin-top: 20px;
}

.mobile-table01{
  width: 90%;
  margin: auto;
  gap: 10px;
  margin-top: -40px;
}

.welcome-1{
  text-align: center;
  font-size: 40px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;

}

.yellow-bar{
  width: 7px;
  height: 100px;
  background-color: rgb(245, 199, 44);
}

.welcome-text{
  width: 95%;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  font-size: 13px;

}

.bar1{
    height: 2px;
    width: 90%;
    background-color: rgb(245, 199, 44);
    margin-left: auto;  
    margin-right: auto;  
    margin-top: 90px;
    border-radius: 20px;
}

.daily-sched{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    color: #ffffff;
    border-radius: 90px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;    font-size: 30px;
    border: 2px solid rgb(245, 199, 44);
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}

.sched-container{
  width: 100%;
    height: auto;
}

.schedule{
  width: 100%;
  border-radius: 0px;
}

.schedule:hover{
  transform: scale(1);
}

.blackbackground-tablet{
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.ministries{
    font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;
  font-size: 30px;
  width: 100%;
}

.horizontal-snap {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  max-width: 90%;
  margin-top: 50px;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.horizontal-snap div {
  scroll-snap-align: start;
}

.horizontal-snap div {
  width: 300px;
  height: 350px;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  transition: 0.30s;
}

.learn-1{
  color: #000000;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;   
  background-color: rgb(255, 214, 10);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80px;
  height: 15px;
  transition: 0.40s;
}

.learn-1:hover {
  background-color: #000000;
  color: #ffffff;
}

.married-img{
  width: 100%;
  height: 170px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.youth-img{
  width: 100%;
        height: 170px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.praise-img{
  width: 100%;
        height: 170px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kkm-img{
  width: 100%;
        height: 170px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.married-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 20px;
    margin-top: 7px;
      color: #ffffff;


}

.married-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 12px;
  color: #d5d5d5;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.youth-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 20px;
    margin-top: 7px;
  color: #ffffff;


}

.youth-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 12px;
  color: #d5d5d5;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.praise-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 20px;
    margin-top: 7px;
  color: #ffffff;


}

.praise-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 12px;
  color: #d5d5d5;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kkm-text1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
    font-size: 20px;
    margin-top: 7px;
  color: #ffffff;


}

.kkm-text2{
  width: 90%;
  text-align: center;
  text-decoration: none;
    margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 12px;
  color: #d5d5d5;
      font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.bar3{
  margin-top: 80px;
}

.bottom-div-container{
  width: auto;
  margin: auto;
    margin-bottom: 40px;

}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
      text-align: center;

  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
}

.bottom-div{
  display: block;
}

}
