
html{
  scroll-behavior: smooth;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow-x: hidden;

}

body{
    margin: 0 auto;
    background-color: #000000;
}

@font-face {
  font-family: "sf-pro";
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: "sf-pro-bold";
  src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}

.navbar{
  position: fixed;
  z-index: 2;
    height: 55px;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.5);
    backdrop-filter: blur(30px);
}

.wfan-logo{
    margin-top: 5px;
    width: 40px;
    margin-left: 15px;
    transition: 0.40s;
}

.wfan-logo:hover{
  transform: scale(1.2);
}

.topnav {
  display: flex;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 9px 2%;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
      border-radius: 30px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  color: #000000;
}

/* Add a color to the active/current link */
.topnav a.active {
}

.space{
  height: 50px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
}

.title{
  font-family: "sf-pro-bold";
  font-size: 70px;
  color: #ffffff;
}

.details{
  font-family: "sf-pro-bold";
  font-size: 20px;
  color: #a1a1a6;
}

.flex:nth-child(1) {
  transition-delay:200ms ;
}

.flex:nth-child(2) {
  transition-delay:600ms ;
}

.flex:nth-child(3) {
  transition-delay:800ms ;
}

.flex:nth-child(4) {
  transition-delay: 1200ms ;
}

.img-container{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.text-container{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.text-container2{
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 80%;
  margin-top: 250px;
}

.img-container2{
  width: 80%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.flex{
  display: flex;
  width: 80%;
  height: 500px;
  gap: 30px;
   margin-left: auto;
  margin-right: auto;
  margin-top: 15px; 
}

.text-container3{
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
  margin-top: 150px;
}

.img-container3{
  width: 80%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.text-container4{
  width: 800px;
  text-align: center;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}

.container{
  display: flex;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: #151517;
  padding: 20px;
  gap: 20px;
}

.text-container5{
  width: 70%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.title2{
  font-family: "sf-pro-bold";
  font-size: 60px;
  color: #ffffff;
}

.details2{
  font-family: "sf-pro-bold";
  font-size: 20px;
  color: #a1a1a6;
  margin-top: -30px;
}

.maps{
  width: 100%;
  height: 100%;
}

























a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

.parent-mobile{
  display: none;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}






























/*portrait mode*/
@media  (max-width: 1313px) {
.space{
  height: 55px;
}

.title{
  font-family: "sf-pro-bold";
  font-size: 60px;
  color: #ffffff;
}

.details{
  font-family: "sf-pro-bold";
  font-size: 15px;
  color: #a1a1a6;
}

.img-container{
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.text-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.text-container2{
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 90%;
  margin-top: 150px;
}

.img-container2{
  width: 90%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.flex{
  display: flex;
  width: 90%;
  height: 450px;
  gap: 30px;
   margin-left: auto;
  margin-right: auto; 
}

.text-container3{
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
  margin-top: 150px;
}

.img-container3{
  width: 90%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.text-container-4{
  width: 90%;
  text-align: left;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}

.container{
  display: flex;
  width: 90%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  gap: 20px;
}

.text-container5{
  width: 70%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.title2{
  font-family: "sf-pro-bold";
  font-size: 60px;
  color: #ffffff;
}

.details2{
  font-family: "sf-pro-bold";
  font-size: 20px;
  color: #a1a1a6;
  margin-top: -30px;
}

.maps{
  width: 100%;
  height: 100%;
}

































































a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

.parent-mobile{
  display: none;
}

}



















@media only screen and (max-width:750px) {
  
  html{
  scroll-behavior: smooth;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
  .parent-desktop{
    display: none;
  }

  .parent-mobile{
    display: block;
  }

   .wfan-logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    align-items: center;
  }

  .wfan-logo:hover{
    transform: scale(1);
  }

  .navbar-mobile{
    position: absolute;
    z-index: 2;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
  }

  .topnav {
  display: flex;
  width: 330px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
    border-radius: 5px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/* Add a color to the active/current link */
.topnav-mobile a.active {
  text-decoration: underline;
}

.space{
  height: 100px;
}

.img-container{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.text-container2{
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 90%;
  margin-top: 150px;
}

.img-container2{
  width: 90%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.flex{
  display: grid;
  width: 90%;
  height: 1200px;
  gap: 0px;
   margin-left: auto;
  margin-right: auto; 
  margin-top: 20px;
}

.text-container3{
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
  margin-top: 150px;
}

.flex .hidden{
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.text-container-4{
  width: 90%;
  text-align: left;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.container-5{
  display: grid;
  width: 100%;
  background-color: #000000;
  height: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 0px;
  gap: 0px;
}

.text-container5{
  width: 90%;
  height: 300px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.title2{
  font-family: "sf-pro-bold";
  font-size: 40px;
  color: #ffffff;
}

.details2{
  font-family: "sf-pro-bold";
  font-size: 15px;
  margin-top: -30px;
}

.maps{
  margin-top: -100px;
  width: 100%;
  height: 500px;
}















 




















































































a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}





























.bottom-div-container{
  width: auto;
  margin: auto;
    margin-bottom: 40px;

}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
      text-align: center;

  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.bottom-div{
  display: block;
}

}