
html{
  scroll-behavior: smooth;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow-x: hidden;

}

body{
    margin: 0 auto;
    background-color: #000000;
}

@font-face {
  font-family: "sf-pro";
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: "sf-pro-bold";
  src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}

.navbar{
  position: fixed;
  z-index: 2;
    height: 55px;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.5);
    backdrop-filter: blur(30px);
}

.wfan-logo{
    margin-top: 5px;
    width: 40px;
    margin-left: 15px;
    transition: 0.40s;
}

.wfan-logo:hover{
  transform: scale(1.2);
}

.topnav {
  display: flex;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 9px 2%;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
      border-radius: 30px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  color: #000000;
}

/* Add a color to the active/current link */
.topnav a.active {
}

.space{
  height: 55px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
  border-radius: 16px;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
}

.title{
  font-family: "sf-pro-bold";
  font-size: 70px;
  color: #ffffff;
}

.details{
  font-family: "sf-pro-bold";
  font-size: 20px;
  color: #ffffff;
  margin-top: -30px;
}

.spacer{
  height: 1400px;
  width: auto;
  background-color: aqua;
}

.img-container-1{
  width: 90%;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  margin-top: 30px;
}

.text-container{
  position: absolute;
  z-index: 1;
  width: 400px;
  margin-top: 350px;
  margin-left: 30px;
}






























.logo:nth-child(1) {
  transition-delay:200ms ;
}

.logo:nth-child(2) {
  transition-delay:600ms ;
}

.logo:nth-child(3) {
  transition-delay:800ms ;
}

.logo:nth-child(4) {
  transition-delay: 1000ms ;
}

.logo:nth-child(5) {
  transition-delay: 1200ms ;
}

.logo:nth-child(6) {
  transition-delay: 1400ms ;
}
































a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

.parent-mobile{
  display: none;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}






























/*portrait mode*/
@media  (max-width: 1313px) {
.space{
  height: 55px;
}


.space{
  height: 55px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
}

.title{
  font-family: "sf-pro-bold";
  font-size: 70px;
  color: #ffffff;
}

.details{
  font-family: "sf-pro-bold";
  font-size: 20px;
  color: #ffffff;
}

.spacer{
  height: 1400px;
  width: auto;
  background-color: aqua;
}



































































a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

.parent-mobile{
  display: none;
}

}



















@media only screen and (max-width:750px) {
  
  body{
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

.parent-desktop{
  display: none;
}

  .parent-mobile{
    display: block;
  }

  /* Style the navigation menu */
.topnav-mobile {
    width: 100%;
  position: fixed;
  z-index: 2;
  overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav-mobile #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav-mobile a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav-mobile a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
}

/* Add a grey background color on mouse-over */
.topnav-mobile a:hover {
  color: rgb(255, 255, 255);
  transition: 0.40s;

}

/* Style the active link (or home/logo) */
.active {
  color: white;
}

.wfan-logo-mobile{
    margin-top: 5px;
    width: 40px;
    margin-left: 0px;
    transition: 0.40s;
}

.space{
  height: 60px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
  border-radius: 16px;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
}

.title{
  font-family: "sf-pro-bold";
  font-size: 50px;
  color: #ffffff;
}

.details{
  font-family: "sf-pro-bold";
  font-size: 15px;
  color: #656565;
  margin-top: -30px;
}

.spacer{
  height: 1400px;
  width: auto;
  background-color: aqua;
}

.img-container-1{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 30px;
}

.text-container{
  position: relative;
  z-index: 0;
  width: 80%;
  margin-top: -40px;
  margin-left: 30px;
}

.img-container-2{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 100px;
}






 




















































































a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}





























.bottom-div-container{
  width: auto;
  margin: auto;
    margin-bottom: 40px;

}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
      text-align: center;

  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.bottom-div{
  display: block;
}

}