
html{
  scroll-behavior: smooth;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body{
    margin: 0 auto;
    background-color: #000000;
}

@font-face {
  font-family: "sf-pro";
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: "sf-pro-bold";
  src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}

.navbar{
  position: fixed;
  z-index: 2;
    height: 55px;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.5);
    backdrop-filter: blur(30px);
}

.wfan-logo{
    margin-top: 5px;
    width: 40px;
    margin-left: 15px;
    transition: 0.40s;
}

.wfan-logo:hover{
  transform: scale(1.2);
}

.topnav {
  display: flex;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 9px 2%;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
      border-radius: 30px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  color: #000000;
}

/* Add a color to the active/current link */
.topnav a.active {
}

.space{
  height: 55px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
  transform: scale(1.2);
}

.video:hover{
  transform: scale(1);
}

.title{
  font-family: "sf-pro-bold";
  font-size: 40px;
  color: #ffffff;
}

.details{
  font-family: "sf-pro-bold";
  font-size: 17px;
  color: #5F5F5F;
}


.text-container-1{
  margin-top: 120px;
  text-align: center;
  width: auto;
}

.img-container-1{
  border-radius: 30px;
  overflow: hidden;
  width: 90%;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.text-container-2{
  position: absolute;
  z-index: 1;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 500px;
  text-align: center;
}

.button{
  color: #000000;
  text-align: center;
  padding: 10px 1%;
  margin-right: auto;
  margin-left: auto;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  transition: 0.40s;
  border-radius: 30px;
  background-color: #000000;
  margin-top: 75px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover{
  background-color: transparent;
  border: solid 1px white;
}

.img-container-2{
  border-radius: 30px;
  overflow: hidden;
  width: 90%;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}





































a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

.parent-mobile{
  display: none;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}






























/*portrait mode*/
@media  (max-width: 1313px) {
.space{
  height: 55px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
  transform: scale(1.2);
}

.video:hover{
  transform: scale(1);
}

.title{
  font-family: "sf-pro-bold";
  font-size: 60px;
  color: #ffffff;
}

.details{
  font-family: "sf-pro-bold";
  font-size: 17px;
  color: #5F5F5F;
}


.text-container-1{
  margin-top: 120px;
  text-align: center;
  width: auto;
}

.img-container-1{
  border-radius: 30px;
  overflow: hidden;
  width: 90%;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.text-container-2{
  position: absolute;
  z-index: 1;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 500px;
  text-align: center;
}

.button{
  color: #000000;
  text-align: center;
  padding: 10px 1.5%;
  margin-right: auto;
  margin-left: auto;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  transition: 0.40s;
  border-radius: 30px;
  background-color: #000000;
  margin-top: 75px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover{
  background-color: transparent;
  border: solid 1px white;
}

.img-container-2{
  border-radius: 30px;
  overflow: hidden;
  width: 90%;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}































a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

.parent-mobile{
  display: none;
}

}



















@media only screen and (max-width:750px) {
  
  body{
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

.parent-desktop{
  display: none;
}

  .parent-mobile{
    display: block;
  }

  .wfan-logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    align-items: center;
  }

  .wfan-logo:hover{
    transform: scale(1);
  }

  .navbar-mobile{
    position: absolute;
    z-index: 2;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
  }

  .topnav {
  display: flex;
  width: 330px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
    border-radius: 5px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/* Add a color to the active/current link */
.topnav a.active {
}

.space{
  height: 100px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.40s;
  transform: scale(1);
}

.video:hover{
  transform: scale(1);
}

.title{
  font-family: "sf-pro-bold";
  font-size: 30px;
  color: #ffffff;
}

.details{
  font-family: "sf-pro-bold";
  font-size: 15px;
  color: #5F5F5F;
}


.text-container-1{
  margin-top: 10px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.img-container-1{
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.text-container-2{
  position: absolute;
  z-index: 1;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  text-align: center;
}

.button{
  color: #000000;
  text-align: center;
  padding: 10px 4%;
  margin-right: auto;
  margin-left: auto;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  transition: 0.40s;
  border-radius: 30px;
  background-color: #000000;
  margin-top:45px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover{
  background-color: transparent;
  border: solid 1px white;
}

.img-container-2{
  border-radius: 30px;
  overflow: hidden;
  width: 90%;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}







 




















































































a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}





























.bottom-div-container{
  width: auto;
  margin: auto;
    margin-bottom: 40px;

}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
      text-align: center;

  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.bottom-div{
  display: block;
}

}