
html{
  scroll-behavior: smooth;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body{
    margin: 0 auto;
    background-image: linear-gradient(#191919 2%, #000000);
}

.main-container{
  background-color: aliceblue;
  width: auto;
}

.navbar{
    height: 70px;
    width: 100%;
    background-color: rgb(25, 25, 25);
}

.wfan-logo{
    margin-top: 15px;
    width: 40px;
    margin-left: 15px;
    transition: 0.40s;
}

.wfan-logo:hover{
  transform: scale(1.2);
}

.topnav {
  display: flex;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 9px 2%;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
      border-radius: 30px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.1);
  color: #ffffff;
}

.container-1{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.title-1{
  position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    top: -580px;
}

.img-container-1{
  width: 100%;
  height: 600px;
  object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
      filter: to bottom, blur(100%) 10%;
    -webkit-filter: to bottom, blur(100%) 10%;
}

.img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  top: 175px;
}

.title-2{
  position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    margin-top: -150px;    
}

.details-1{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    width: 700px;
    margin: auto;
}

.table{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

.img-container-2{
    width: 480px;
    height: 500px;
}

.img-2{
  width: 100%;
  height: 100%;
      object-fit: cover;

}

.spacer{
  width: 30px;
}

.title-3{
  position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
}

.details-2{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    width: auto;
    margin: auto;
}

.table-2{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .title-4{
      position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    width: 1000px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .corousel{
    width: 1000px;
    margin: auto;
    height: auto;
    height: auto;
  }

  .img-container{
    width: 1000px;
    overflow: auto;
    display: flex;
    height: 300px;
    gap: 20px;
    overflow-x: auto;
    border-radius: 10px;   
    scroll-snap-type: x mandatory;
  }

  .img3{
    scroll-snap-align: start;
  }

    .title-5{
      position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    width: 1000px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-3{
    width: 1000px;
    margin: auto;
    display: flex;
    gap: 30px;
  }

.spotify{
  width: 2000px;
}

.grid{
  display: grid;
}

.details-6{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    width: auto;
}

.spotify-botton{
    color: #ffffff;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-image: linear-gradient(#FF2300, #FFB700);   
  border-radius: 50px;
  float: right;
  margin-top: 0px;
  width: 90px;
  height: 20px;
  transition: 0.40s;
}

.spotify-botton:hover{
    background-color: transparent;
    background-image: none;
  color: #ffffff;
  transform: scale(1.1);
  border: 1px solid white;
}













.black-background{
    width: 100%;
    height: auto;
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

.parent-mobile{
  display: none;
}

a:link{
  text-decoration: none!important;
  
}





@media  (max-width: 1313px) {
  .container-1{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.title-1{
  position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    top: -580px;
}

.img-container-1{
  width: 100%;
  height: 600px;
  object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    filter: to bottom, blur(100%) 10%;
}

.img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  top: 175px;
}

.title-2{
  position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    margin-top: -150px;
}

.details-1{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    width: 70%;
    margin: auto;
}

.table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

.img-container-2{
    width: 480px;
    height: 500px;
}

.img-2{
  width: 100%;
  height: 100%;
      object-fit: cover;

}

.spacer{
  width: 30px;
}

.title-3{
  position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
}

.details-2{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    width: auto;
    margin: auto;
}

.table-2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .title-4{
      position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    width: 90%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .corousel{
    width: 90%;
    margin: auto;
    height: auto;
    height: auto;
  }

  .img-container{
    width: 100%;
    overflow: auto;
    display: flex;
    height: 300px;
    gap: 20px;
    overflow-x: auto;
    border-radius: 10px;   
    scroll-snap-type: x mandatory;
  }

  .img3{
    scroll-snap-align: start;
  }

    .title-5{
      position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    width: 90%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-3{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 30px;
  }

.spotify{
  width: 2000px;
}

.grid{
  display: grid;
}

.details-6{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    width: auto;
}

.spotify-botton{
    color: #ffffff;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-image: linear-gradient(#FF2300, #FFB700);   
  border-radius: 50px;
  float: right;
  margin-top: 0px;
  width: 90px;
  height: 20px;
  transition: 0.40s;
}

.spotify-botton:hover{
    background-color: transparent;
    background-image: none;
  color: #ffffff;
  transform: scale(1.1);
  border: 1px solid white;
}

  






}









@media only screen and (max-width:750px) {

  .parent-desktop{
    display: none;
  }

  .parent-mobile{
    display: block;
  }

    .navbar{
    display: flex;
    justify-content: center;
  }

  .wfan-logo{
    margin: auto;
    margin-top: 15px;
  }

  .wfan-logo:hover{
    transform: scale(1);
  }

  .topnav {
  display: flex;
  width: 330px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
  background-color: #000000;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
    border-radius: 5px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.title-1{
  position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    top: -560px;
}

.title-2{
  position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;    
}

.details-1{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.img-container-2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 300px;
  border-radius: 10px;
}

.title-3{
  position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
}

.details-2{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 12px;
    width: auto;
    margin: auto;
    width: 90%;
}

.title-4{
  margin-top: 130px;
}

  .corousel{
    width: 90%;
    margin: auto;
    height: auto;
    height: auto;
  }

  .img-container{
    width: 100%;
    overflow: auto;
    display: flex;
    height: 300px;
    gap: 10px;
    overflow-x: auto;
    border-radius: 10px;   
    scroll-snap-type: x mandatory;
  }

  .img3{
    scroll-snap-align: start;
    width: 290px;
  }


      .title-5{
      position: relative;
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    width: 90%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-3{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 30px;
  }

.spotify{
  width: 2000px;
}

.grid{
  display: grid;
}

.details-6{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.spotify-botton{
    color: #ffffff;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-image: linear-gradient(#FF2300, #FFB700);   
  border-radius: 50px;
  float: right;
  margin-top: 0px;
  width: 90px;
  height: 20px;
  transition: 0.40s;
}

.spotify-botton:hover{
    background-color: transparent;
    background-image: none;
  color: #ffffff;
  transform: scale(1.1);
  border: 1px solid white;
}


  















.bottom-div-container{
  width: auto;
  margin: auto;
    margin-bottom: 40px;

}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
      text-align: center;

  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.bottom-div{
  display: block;
}

}

