
html{
  scroll-behavior: smooth;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body{
    margin: 0 auto;
    background-image: linear-gradient(#191919 2%, #000000);
}

.main-container{
  background-color: aliceblue;
  width: auto;
}

.navbar{
    height: 70px;
    width: 100%;
    background-color: rgb(25, 25, 25);
}

.wfan-logo{
    margin-top: 15px;
    width: 40px;
    margin-left: 15px;
    transition: 0.40s;
}

.wfan-logo:hover{
  transform: scale(1.2);
}

.topnav {
  display: flex;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 9px 2%;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
      border-radius: 30px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.1);
  color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: underline;
  color: #ffffff;
}

.img-container{
  max-width: 90%;
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(50%);
}

.text-container-1{
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  margin-left: 20px;
}

.title{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
}

.details{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    width: 300px;
}

.img2{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.40s;
}

.img2:hover{
  filter: brightness(50%);
}
.tile-container{
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  gap: 10px;
  display: flex;
}

.img-container-tile{
  width: 500px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.img2:hover{
  transform: scale(1.2);
}

.text-container-2{
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 200px;
}

.title2{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}

.img-container-2{
  width: 850px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.text-container-grid{
  display: flex;
   width: 850px;
   gap: 10px;
   margin-left: auto;
   margin-right: auto;
}

.text-center{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 30px;
}

.text-container{
  width: auto;
  height: auto;
}


.details2{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    width: 400px;
}


a:link{
  text-decoration: none!important;
  
}

.bar3{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 150px;
}

.bottom-div-container{
  text-decoration: none;
  width: 90%;
  margin: auto;
    display: flex;
  justify-content: center;
    margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
    margin-top: 50px;

}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

.parent-mobile{
  display: none;
}





































@media  (max-width: 1313px) {

  .img-container{
  width: 90%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(50%);
}

.text-container-1{
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  margin-left: 20px;
}

.title{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
}

.details{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    width: 300px;
}

.img2{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.40s;
}

.img2:hover{
  filter: brightness(50%);
}
.tile-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  gap: 10px;
  display: flex;
}

.img-container-tile{
  width: 700px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.img2:hover{
  transform: scale(1.2);
}

.text-container-2{
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 200px;
}

.title2{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}

.img-container-2{
  width: 90%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.text-container-grid{
  display: flex;
   width: 90%;
   gap: 10px;
   margin-left: auto;
   margin-right: auto;
}

.text-center{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 30px;
}

.text-container{
  width: auto;
  height: auto;
}

.details2{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 15px;
    width: auto;
}


















}
















@media  (max-width: 750px) {

      .navbar{
    display: flex;
    justify-content: center;
  }

  .wfan-logo{
    margin: auto;
    margin-top: 15px;
  }

    .wfan-logo:hover{
  transform: scale(1);
}

  .topnav {
  display: flex;
  width: 330px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
  background-color: #000000;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 8px 2%;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
    border-radius: 5px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/* Add a color to the active/current link */
.topnav-mobile a.active {
}





  

.img-container{
  max-width: 100%;
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  filter: brightness(50%);
}

.text-container-1{
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-top: 200px;
}

.title{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}

.details{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 12px;
    width: 300px;
}

.img2{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.40s;
}

.img2:hover{
  filter: brightness(50%);
}

.tile-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  gap: 10px;
  display: grid;
}

.img-container-tile{
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
}

.img2:hover{
  transform: scale(1.2);
}

.text-container-2{
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 200px;
}

.title2{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
}

.img-container-2{
  width: 90%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 20px;
}

.text-container-grid{
  display: grid;
   width: 90%;
   gap: 10px;
   margin-left: auto;
   margin-right: auto;
}

.text-container{
  width: 345px;
  height: auto;
}

.details2{
    font-family: 'Roboto', sans-serif;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 12px;
    width: 300px;
}

.bottom-div-container{
  width: auto;
  margin: auto;
    margin-bottom: 40px;

}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
      text-align: center;

  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.bottom-div{
  display: block;
}

}
